#movie-select-div,
#date-time-select,
#seat-chart-div {
  display: flex;
  justify-content: center;
}
#movie-select {
  padding-top: 15px;
  background-color: white;
}
table {
  border-spacing: 10px;
}
th {
  width: 40px;
  height: 40px;
  background-color: silver;
  color: white;
}
th:hover {
  background-color: #cc73e1;
}
.click {
  background-color: red;
}
